/*Your style here*/

body{
    
    width:750px;
    background-color:rgba(0, 0, 255, 0.3);
}

h1{
    position:fixed;
    background-color:rgba(0,0,255, 1.0);
    padding:10px;
    left: 0px;
    top:-20px;
    width:100%;
    z-index: 10;
}

p{
    position: relative;
    top: 50px;
    z-index: -10;
    width: 190px;
    padding: 15px;
    margin: 15px;
    float: left;
}

.clear{
    clear:left;
}


/*THESE NEXT IDs ARE FOR A HIDDEN BUTTON*/
#myLink{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 100px;
}

#theLink{
   display:block;
    height: 100%;
    width: 100%;
    
}



